:root{
  --header-height: 200px;
  
}

*{
  font-family: 'Roboto', sans-serif;
}

/*I have decide to split the header in two section for easily modify the appearance of the web page in future version.
ie: setting one part as positio:fixed and the other as a  left-hand column.
This header contains my name and an avatar*/
header{
  background-image: url(./matrix.png);
  height: var(--header-height);
  width: 100%;
  display:flex ;
  justify-content: space-between;
  padding:20px
}

.portfolio-title{
  color: rgb(212, 212, 212);
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
}

.avatar-image{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
}

/*This section contains information about myself and my skills as well as way to contact me.*/
.details{
  display: flex;
  top: var(--header-height);
  background-color: rgb(65, 128, 109);
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  color: rgb(212, 212, 212);
  
}

.about-me-container{
  width: 60%;
  text-align: center;
  
}

.about-me-container a{
  margin-left: 50px;
  font-weight: bolder;
}

h1{
  padding-left: 10px;
  text-align: center;
}
.small-description{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 2px;
  font-size: large;
  width: 100%;
  text-align: center;
}

.contact-details-container{
  
  padding-top:1%;
  margin-right: 10px;
}

.skills li{
  font-weight: 700;
}

/* The next section creates a star rating system after each skills*/
#a::after{
  content:"⭐☆☆☆☆";
}

#b::after{
  content:"⭐☆☆☆☆";
}

#c::after{
  content:"⭐☆☆☆☆";
}

#d::after{
  content:"⭐⭐☆☆☆";
}

#e::after{
  content:"⭐⭐☆☆☆";
}

#f::after{
  content:"⭐☆☆☆☆";
}

.contact-details{
  margin-left: 2vw;
  font-weight: 700;
  
}

/* The main container contains all the project cards*/
.main-container{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background-color: rgb(248, 247, 247);
  justify-content: center;
  
}
/*There are 2 type of project card. The current one and all others.
the current card is twice the size of a normal one but everyting else is the same.
The most current project I have been working on*/
.current-project-card{
  height: 250px;
  width: 80%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px black;
  opacity: 0.5;
}

/*All other projects*/
.project-card{
  height: 250px;
  width: 38%;
  margin: 2%;
  box-shadow: 5px 5px 5px black;
  opacity: 0.5;

}

/*Every project card posses a screenshot of the application, a title linked to
 the deployed app and a list of languages used for this project. */
.project-image{
  height: 80%;
  
}

.project-image img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  object-position: center;
}

.project-details, .project-details a{
  height:20%;
  background-color: rgb(177, 177, 180);
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  font-weight: bolder;
  color: white;
  
}

.project-title{
  width: 60%;
  padding-left: 10px;
  padding-top: 10px;
  
}


.project-languages{
  width: 40%;
  padding-right: 10px;
  text-align: end;
  padding-top: 10px;
  
}

/*the cards opcity has been modified to render a better visual effect when hovering over them.*/

.current-project-card, .project-card{
  box-shadow: 5px 5px 5px black;
  opacity: 0.5;

}

.current-project-card:hover, .project-card:hover{
  opacity: 1;
}


footer{
  height:50px;
  text-align: center;
  
}

footer a{
  color: rgb(61, 61, 194);
  font-weight:bolder
}

footer a:hover{
  color: rgb(89, 89, 235);
}

/* Tablets size - The section containing the 'about me', 'skills' and links become vertical*/
@media screen and (max-width: 992px) {
 
  .details{
    flex-direction: column;
    height:auto;
  }
}

/* Large smartphones - there is only one project card per row and the skill section disapear to look less crowded */
@media screen and (max-width: 768px) {
  
  .project-card{
    width: 80%;
  }

  .skills{
    display: none;
  }

}

/* Small smartphones - the about me section disapear to leave on the links */
@media screen and (max-width: 576px) {
  
  .about-me-container{
    display: none;
  }
}
