:root{
  --header-height: 200px;
  --details-height: 20vw;
}

*{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: rgb(212, 212, 212);
}

header{
  background-color: rgb(65, 128, 109);
  height: var(--header-height);
  width: 100%;
  display:flex ;
  justify-content: space-between;
  padding:20px
}

.portfolio-title{
  color: rgb(212, 212, 212);

  font-size: 6vw;
}

.avatar-image{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
}

.details{
  
  display: flex;
  top: var(--header-height);
  background-color: rgb(65, 128, 109);
  
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  
}

.small-description{
  padding-top: 10px;
  padding-left: 0.75vw;
  font-size: large;
  width: 45%;
  text-align: center;
  
  
}

.contact-details-container{
  
  padding-top:1%;
}

.skills li{
  font-weight: 700;
}

#a::after{
  content:"⭐☆☆☆☆";
}

#b::after{
  content:"⭐☆☆☆☆";
}

#c::after{
  content:"⭐☆☆☆☆";
}

#d::after{
  content:"⭐⭐☆☆☆";
}

#e::after{
  content:"⭐⭐☆☆☆";
}

#f::after{
  content:"⭐☆☆☆☆";
}

.contact-details{
  margin-left: 2vw;
  font-weight: 700;
  
}

.main-container{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background-color: white;
  justify-content: center;
}

.current-project-card{
  height: 250px;
  width: 80%;
  margin: 2%;
  display: flex;
  flex-direction: column;
}

.project-image{
  height: 80%;
}

.project-image img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  object-position: center;
}



.project-details{
  height:20%;
  background-color: rgb(177, 177, 180);
  display: flex;
}

.project-title{
  width: 40%;
}

.project.languages{
  width: 60%;
  text-align: end;
}

.project-card{

  background-color: black;

  height: 250px;
  width: 38%;
  margin: 2vw;


}

footer{
  height:50px;
  text-align: center;
}

footer a{
  color: rgb(61, 61, 194);
  font-weight:bolder
}

footer a:hover{
  color: rgb(89, 89, 235);
}

