:root{
  --header-height: 30%;
  --details-height: 20vw;
}

*{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: rgb(212, 212, 212);
}

header{
  background-color: rgb(41, 51, 48);
  height: var(--header-height);
  width: 100vw;
  position: fixed;
  z-index: 99;
  
}

.header-img{
  height:  100%;
  width: 100vw;
  object-fit: cover;
  box-shadow: 0 0.5vw 0.5vw black;
  
}

.portfolio-title{
  color: rgb(212, 212, 212);
  position: fixed;
  top: 4vw;
  right: 4vw;
  text-align: right;
  height: 6vw;
  width: 50vw;
  font-size: 6vw;
}

.avatar{
  background-color: white;
  height: 10vw;
  width: 10vw;
  position: fixed;
  top: 1.5vw;
  left: 3vw;
  border-radius: 50%;
}

.details{
  position: fixed;
  display: flex;
  top: var(--header-height);
  background-color: rgb(150, 150, 150);
  box-shadow: 0.5vw 0.5vw 10px black;
  height: var(--header-height);
  justify-content: space-between;
  
}

.small-description{
  padding-top: 1vw;
  padding-left: 0.75vw;
  font-size: large;
  font-family: sans-serif;
  width: 45%;
  text-align: center;
  
  
}

.contact-details-container{
  
  padding-top:1%;
}

.skills li{
  font-weight: 700;
}

#a::after{
  content:"⭐⭐☆☆☆";
}

#b::after{
  content:"⭐⭐☆☆☆";
}

#c::after{
  content:"⭐☆☆☆☆";
}

#d::after{
  content:"⭐⭐☆☆☆";
}

#e::after{
  content:"⭐⭐☆☆☆";
}

#f::after{
  content:"⭐☆☆☆☆";
}

.contact-details{
  margin-left: 2vw;
  font-weight: 700;
  
}

.main-container{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100vw;
  background-color: aqua;
  padding-left: var(--left-column-width);
  padding-top: var(--header-height);
  padding-bottom: 5vw;
}

.current-project-card{
  background-color: black;
  height: 15vw;
  width: 75vw;
  margin: 2vw;
}

.project-card{

  background-color: black;

  height: 15vw;
  width: 35.5vw;
  margin: 2vw;


}

